/** only for grid layout of page */

html, body {
	height: 100%;
	width: 100%;
}

.grid {
	display: block;
	margin: auto;
	width: 100%; 
	/**	grid is 100% width assuming it is inside a container element that does not take the entire width of the screen
		max-width:900px;
	*/
}

.row {
	width: 100%;
	clear: both;
	overflow: auto;
	padding-top: 20px;
}

.col {
	float: left;
	margin-right:3%;
	min-height: 1px;
	padding: 15px 5px;
	border: 1px solid black;
}

.col--innercol{
	border:none;
}

.col--1{ width: 5.5%; }
.col--2{ width: 14%; }
.col--3{ width: 22.5%; }
.col--4{ width: 31%; }
.col--5{ width: 39.5%; }
.col--6{ width: 48%; }
.col--7{ width: 56.5%; }
.col--8{ width: 65%; }
.col--9{ width: 73.5%; }
.col--10{ width: 82%; }
.col--11{ width: 90.5%; }
.col--12{ 
	width: 99%; 
	margin: 0;
}

.col--last{ margin:0; }

@media screen and (max-width: 500px) {

	.col {
		width: 100%;
	}
	
}