/**
	 Common style
*/

/**
	----------
	#ELEMENTS
	----------
*/

body {
	font-family:  Calibri;
	background-color:#000000; 	
}

h1,h2,h3,h4,h5 {
	text-align:center;
	font-family: Helvetica;
}	

h1 { font-size:2.5em; }
h2 { font-size:2.25em; }
h3 {
	font-size:2em;
}

h4 {
	font-size:1.75em;
}

h5 {
	font-size:1.5em;
}

h6 {
	font-size:1.25em;
}

p , em {
	font-size:1em;
}



input,textarea, button {
	font-family: EuroRoman;
	padding: 1%;
}

textarea {
	width:25%;
}

ul {
	list-style-type:none;
}



select {
	width:67%;
	padding: 5px;
}

em {
	font-style: italic;
}


a {
	color:#000000;
}

a:hover {
	text-decoration: underline;
}



/**
	----------
	#OTHERS
	----------
*/

.radius-small {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:none;
}

.mynav li a {
	font-size:1.2em;
	font-family: Arial;
	color:#000000;
	text-decoration: none;
	font-weight: bold;
	padding:15px;
}

.mynav li {
	display: inline-block;
	
}

.text-center {
	text-align: center;
}

.mynav {
	display: block;
	padding:10px;
}

.center {
	margin: 0 auto;
}

.container {
	width: 90%;
	height:100%;
}

.clearfix {
	overflow: auto;
}

.bottomed {
	border-bottom:thin solid #000000;
}

.field {
	width:100%;
	
}

.field-small {
	width:15%;
}

.module {
	width: 50%;
	float:left;
}

.item img {
	width:67%;
}

input.ng-invalid.ng-touched {
background-color: #FA787E;
}

input.ng-valid.ng-touched {
background-color: #78FA89;
}


.err-msg {

	color:red;

}

/**
	----------
	#MEDIAQUERIES
	----------
*/

/**
	Smartphone-esque widths
*/
@media screen and (max-width: 500px) {

	h1 {
		font-size:2em;
	}

	h2 {
		font-size:1.8em;
	}

	h3 {
		font-size:1.6em;
	}

	h4 {
		font-size:1.4em;
	}

	h5 {
		font-size:1.2em;
	}

	h6 {
		font-size:1em;
	}

	p, em {
		font-size:0.75em;
	}
	
	.module {
		width: 100%;
	}

}