/**
	#HELPERS
*/

/**
	"Cheesy Yellow" - main colour of website
*/
.helper--color-scheme-1 {
	background-color:#FFCB00;
}

/**
	"Golden Yellow" - darker than Cheesy Yellow, lighter than Beige Yellow
*/
.helper--color-scheme-2 {
	background-color: #BF9A30;
}

/**
	"Beige Yellow" - the darkest of our yellows
*/
.helper--color-scheme-3 {
	background-color: #A67A00;
}

/**
	"" lighter than cheesy yellow
*/
.helper--color-scheme-4 {
	background-color: #FFCE40;
}

/**
	"Vanilla Yellow" - the lighest of our yellows
*/
.helper--color-scheme-5 {
	background-color: #FFDA73
}

/**
	
*/
.helper--fixed {
	position:fixed;
}