<h3>Sign In or Sign Up</h3>

<div class="[ grid ]">
	<div class="[ row ]">
		<div class="[ col col--6 col--innercol radius-small helper--color-scheme-4 ]">
			<h5>Already have an account?</h5>
			<h6>Sign in to view your account settings.</h6>
			<form>
				<ul>
					<li>
						<label>Username:</label>
						<input type="text">
					</li>
					<li>
						<label>Password:</label>
						<input type="password">
					</li>
					<li>
						<input ng-click="" type="submit" value="Sign in">
					</li>
				</ul>
			</form>
		</div>

		<div class="[ col col--6 col--last col--innercol radius-small helper--color-scheme-4 ]">
			<h5>Register with us...</h5>
			<h6>Register as a new user.</h6>
			<form>
				<ul>	
					<li>
						<label>First name:</label>
						<input type="text">
					</li>
					<li>
						<label>Last name:</label>
						<input type="text">
					</li>
					<li>
						<label>Email address:</label>
						<input type="email">
					</li>
					<li>
						<label>Create username:</label>
						<input type="text">
					</li>
					<li>
						<label>Password:</label>
						<input type="password">
					</li>
					<li>
						<label>Retype password:</label>
						<input type="password">
					</li>
					<li>
						<input ng-click="" type="submit" value="Register!">
					</li>
				</ul>	
			</form>

		</div>
	</div>
</div>
