<h3>Browse Items</h3>



<div class="[ helper--color-scheme-5 ]">
	<h5>Search for Specific items</h5>
	<p>Search by Name :</p><input type="text" ng-model="searchName"/>
	<p>Search by Category :</p>
	<select ng-model="searchCategory">
	  <option value=""></option>
	  <option value="Recreational">Recreational</option>
	  <option value="Games">Games</option>
	  <option value="Technology">Technology</option>
	  <option value="Food and Drink">Food and Drink</option>
	</select>
	<p>Search by Details :</p><input type="text" ng-model="searchDetails"/>
	<p>Search By Price :</p>
	<label>Min Price</label><input type="number" ng-model="searchPriceLower"/>
	<label>Max Price</label><input type="number" ng-model="searchPriceUpper"/>
</div>

<h4>All Items</h4>

<div class="[ grid ]">
	<div ng-repeat="item in itemList | filter:filterItem" class="[ row  helper--color-scheme-4 bottomed ]">
		<div class="[ col  col--4  col--innercol item ]">
			<img class="[ radius-small ]" ng-src="../../app/images/items/{{item.imgUrl}}">
		</div>
		<div class="[ col  col--4  col--innercol ]">
			<a href="#/browse/{{item.id}}"><em>{{item.name}}</em></a>
			<p>Price: {{item.price | currency:"£"}}</p>
			<p>Details : {{item.details}}</p>
			<p>Category : {{item.category}}</p>
			<em ng-show="isAvailable(item)">In Stock: {{item.inStock}}</em>
			<em ng-hide="isAvailable(item)">THIS ITEM IS CURRENTLY OUT OF STOCK!</em>
		</div>
		<div class="[ col  col--4  col--innercol col--last ]">
			
			<div ng-show="isAvailable(item)">
				<form name="quant">
					<p>Would you like to add to cart?</p>
					<p>Quantity:</p><input name="quantity" type="number" min=1 max="{{item.inStock}}" ng-model="quantity" integer/>
						<div ng-messages="quant.quantity.$error">
						    <div ng-message="integer"><em>Number of items must be a whole number!</em></div>
						    <div ng-message="min"><em>If you want to add this item, there must be atleast one!</em></div>
						    <div ng-message="max"><em>Number of items you want to add to cart cannot exceed the number of items currently in stock!</em></div>
						    <div ng-message="number"><em>Number of items must be a NUMBER!</em></div>
					  	</div>
					<input ng-show="quant.quantity.$valid" type="button" value="Add to Cart!" ng-click="addToCart(item, quantity)"/>
				</form>
			</div>
		</div>
	</div>
</div>