<div class="[ helper--color-scheme-5 ]">
		<h5>View Item</h5>
		<div class="[ grid ]">
			<div class="[ row ]">
				<div class="[ col  col--4  col--innercol item ]">
					<img class="[ radius-small ]" ng-src="../../app/images/items/{{indivItem.imgUrl}}">
				</div>
				<div class="[ col  col--4  col--innercol ]">
					<h4><em>{{indivItem.name}}</em></h4>
					<p>Price: {{indivItem.price | currency:"£"}}</p>
					<p>Details : {{indivItem.details}}</p>
					<p>Category : {{indivItem.category}}</p>
					<em ng-show="isAvailable()">In Stock: {{indivItem.inStock}}</em>
					<em ng-hide="isAvailable()">THIS ITEM IS CURRENTLY OUT OF STOCK!</em>
				</div>
				<div class="[ col  col--4  col--innercol col--last ]">
					<div ng-show="isAvailable()">
						<form name="quant">
							<p>Would you like to add to cart?</p>
							<p>Quantity:</p><input name="quantity" type="number" min=1 max="{{indivItem.inStock}}" ng-model="quantity" integer/>
								<div ng-messages="quant.quantity.$error">
								    <div ng-message="integer"><em>Number of items must be a whole number!</em></div>
								    <div ng-message="min"><em>If you want to add this item, there must be atleast one!</em></div>
								    <div ng-message="max"><em>Number of items you want to add to cart cannot exceed the number of items currently in stock!</em></div>
								    <div ng-message="number"><em>Number of items must be a NUMBER!</em></div>
							  	</div>
							<input ng-show="quant.quantity.$valid" type="button" value="Add to Cart!" ng-click="addToCart(indivItem, quantity)"/>
						</form>
					</div>
				</div>
			</div>
			<div class="[ row ]">
				<h3>Customer Reviews :</h3>
				<div ng-repeat="rev in indivItem.reviews" class="[ bottomed helper--color-scheme-4 ]">
					<p>{{rev.userId | getUser}} said this : "{{rev.review}}"</p>
					<p>rating : {{rev.rating}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
